.footer-container{
    background-color:#444;
    color: rgb(199, 199, 199);
    text-align: center;
    width: 100%;
        position: absolute;
        bottom: 0px;
        height: 60px;            /* Footer height */
        padding: 20px;
        font-size: 16px;

      

}
.socialIcon{
    margin: 0px 5px;
    font-size: 16px;
}