.admin-container{
    padding: 15px;
    background: rgb(247, 247, 247);
    .admin-link{
        color: #888;
        &:hover{
          color: #444;
          text-decoration: underline;  
        }
    }
}

.admin-table{
  background: #fff;
  margin-bottom: 60px;    /* Footer height */


}

.admin-title{
  background-color: #fff;
  text-transform: uppercase;
font-weight: 900;
font-size: 22px;
text-align: center;
margin-bottom: 16px;
color: #777;
letter-spacing: 2px;
padding: 15px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;



}

.inner-admin {
  padding-bottom: 80px;    /* Footer height */

}